.navbar {
  height: 90px;
  width: 100%;
  background-color: aqua;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 40px;
  padding-left: 30px;
}

.navbar > a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.navbar > a:hover {
  color: blue;
}
